


@model Demo1._1.Areas.Admin.Models.Employee


<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="EmployeeId" />

    <div class="form-group">
        <label asp-for="EmployeeName" class="control-label"></label>
        <input asp-for="EmployeeName" class="form-control" />
        <span asp-validation-for="EmployeeName" class="text-danger"></span>
    </div>

    <!-- Các trường khác -->

    <div class="form-group">
        <label asp-for="ImageFile" class="control-label"></label>
        <input asp-for="ImageFile" type="file" class="form-control" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
